<p>Hi <%= @user.first_name %>,</p>

<p>Thanks for creating a Sphere account! You can now begin adding new connections, reaching out to the people that matter, making plans and tracking your interactions.</p>

<p>Check Sphere every day to see who you should reach out to, and log your interactions to stay on top of your network!</p>

<p>By default, you'll get a handy email every week that tells you how your personal network is coming along. If you'd like to change how often you get this email, or disable it, you can do so in your Settings on Sphere.</p>

<p>If you have any questions or feedback, feel free to reply to this email.</p>

<p>Thanks,</p>
<p>- Sphere Team</p>
<p><a href="https://app.usesphere.com">app.usesphere.com</a></p>