/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
*= require font-awesome
 *= require_tree ../../../vendor/assets/stylesheets/.
 */



/*Some standard components*/

.hoverInput:hover {
    background-color: #ECECEC;
    transition: background-color 0.2s ease;
}

.formElement {
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    width: 100%;
    transition:color 0.2s ease;  
    transition:background 0.2s ease; 
    min-height: 30px; 
    line-height: 30px;
    padding: 0px 15px;
}

.formElement.disabled {
    background-color:#E9E9E9;
    color:#D8D8D8;
}

.formElement.halfRow.left {
    display:inline-block;
    width: 48%;
    margin-right: 1%;
}

.formElement.halfRow.right {
    display:inline-block;
    width: 48%;
    margin-left: 1%;
}

.formElement.tallerInput {
    height: 35px;
    line-height: 35px;
    font-size: 15px;
}

.formElement.standardHeight {
    height: 28px;
    line-height: 28px;
    font-size: 15px;
}


.formElement.button {
    cursor: pointer;
}

.formElement:hover {
    background-color: #F1F1F1;
}

.p-v-xs {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-h-xs {
    padding-left: 5px;
    padding-right: 5px;
}



.p-v-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-h-sm {
    padding-left: 10px;
    padding-right: 10px;
}


.p-v-md {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-h-md {
    padding-left: 15px;
    padding-right: 15px;
}


.p-v-xxlg {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-h-xxlg {
    padding-left: 30px;
    padding-right: 30px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-b-xs {
    margin-bottom: 5px;   
}

.m-t-sm {
    margin-top: 10px;
}

.m-b-sm {
    margin-bottom: 10px;   
}

.m-l-sm {
    margin-left: 10px;
}

.m-r-sm {
    margin-right: 10px;   
}

.m-t-md {
    margin-top: 15px;
}

.m-b-md {
    margin-bottom: 15px;
}


.m-t-lg {
    margin-top: 20px;
}

.m-b-lg {
    margin-bottom: 20px;
}


.m-l-md {
    margin-left: 15px;
}

.m-r-md {
    margin-right: 15px;   
}


.m-l-xxxxxlg {
    margin-left: 45px;
}

.m-r-xxxxxlg {
    margin-right: 45px;   
}



.transitionButton {
    cursor:pointer;
}

.modalBottomLeftButton {
    width: 50%;
    cursor: pointer;
    height: 100%;
    float:left;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top:15px;
    border:none;
}

.modalBottomRightButton {
    width: 50%;
    cursor: pointer;
    height: 100%;
    float:right;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top:15px;
    border:none;
}

.modalBottomFullButton {
    width: 100%;
    cursor: pointer;
    height: 100%;
    float:right;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top:15px;
    border:none;
}


.textDarkGray {
    color: #707070;
}

.textLightGray {
    color: #D6D6D6;
}

.errorFormInput {
    border: 1px solid #BB1414 !important;
    background-color: #FF9595 !important;
}

/* --------------   Corner Ribbons --------------  */
    .corner-ribbon{
      width: 200px;
      background: #e43;
      position: absolute;
      top: 25px;
      left: -50px;
      text-align: center;
      line-height: 25px;
      letter-spacing: 1px;
      color: #f0f0f0;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    /* Ribbon Custom styles */

    .corner-ribbon.sticky{
      position: absolute;
    }

    .corner-ribbon.shadow{
      box-shadow: 0 0 3px rgba(0,0,0,.3);
    }

    /* Ribbon Different positions */

    .corner-ribbon.top-left{
      top: 25px;
      left: -50px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    .corner-ribbon.top-right{
      top: 15px;
      right: -75px;
      left: auto;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .corner-ribbon.bottom-left{
      top: auto;
      bottom: 25px;
      left: -50px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .corner-ribbon.bottom-right{
      top: auto;
      right: -50px;
      bottom: 25px;
      left: auto;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    /* Ribbon Colors */

    .corner-ribbon.white{background: #f0f0f0; color: #555;}
    .corner-ribbon.black{background: #333;}
    .corner-ribbon.grey{background: #999;}
    .corner-ribbon.blue{background: #39d;}
    .corner-ribbon.green{background: #2c7;}
    .corner-ribbon.turquoise{background: #1b9;}
    .corner-ribbon.purple{background: #95b;}
    .corner-ribbon.red{background: #e43;}
    .corner-ribbon.orange{background: #e82;}
    .corner-ribbon.yellow{background: #ec0;}

/* --------------  End Corner Ribbons --------------  */

/*Specific elements*/

/* Login screen */

.fullViewportContainer {
    width: 100%;
    height: 100vh;
    background: none;
    position: absolute;
    top: 0px;
    left:0px;
}

.loginScreen {
    background-image: image-url("login-background.jpg");
    background-size: cover;
}

.fullViewportContainer.loginScreen #title {
    position:relative;
    width: 150px;
    margin: 20px auto;
    margin-top: 120px;
}

.fullViewportContainer.loginScreen #displayBox {
    position:relative;
    width: 340px;
    margin: 0px auto;
    border-radius: 10px;
    overflow:hidden;
    min-height: 300px;
    background-color: #FFFFFF;

}

.loginScreen .modalButtonContainer .modalBottomFullButton {
    padding-top: 0px;
}

/*User dashboard*/

body {
    background: #F6F6F6 !important;
}


#loading > div > div {
  background: #0d9ddb !important;
}

#profile {
        z-index: 2;
        position: fixed !important;
        height: 75px !important;
        background-color: #0d9ddb !important;
        float: none !important;
        top: 0px !important;
}

#logo {
    position: absolute;
    color: white;
    top: 25px;
    left: 50px;
}

.profileButtonsContainer {
    position: absolute;
    top: 25px;
}

.profileButton {
    cursor: pointer;
    transition:color 0.2s ease;  
    color: #FFF;  
    font-size: 25px;
}

.profileButtonsContainer.hideOnMobile {
    width: 120px;
    right: 50px;
}

.profileButtonsContainer.hideOnMobile .profileButton {
    text-align: center;
    width: 45%;
    display: inline-block;
}

.profileButtonsContainer.showOnMobile .profileButton {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.profileButtonsContainer.showOnMobile {
    width: 60px;
    right: 170px;
}


#logout a {
    color: #FFF;
    transition:color 0.2s ease;
}

.profileButton:hover {
    color: #B5ADAC;
}

#logout a:hover {
    color: #B5ADAC;
}

#navigation-tabs-container {
    width: 100%;
    position:absolute;    
    top:75px;
}

.topTabsContent {
    padding:0px !important;
}

.topTabs-header.clearfix {
    box-shadow: none !important;
    height:100px;
    width: 100%;
}

#navigation {
    float: none !important;
    width: 68%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#navigation li {
    border: none !important;
    width: 25%;
    height: 100%;
}

#photoUploader, #photoUploaderInCreate, #photoUploaderInUserInfo { display: none; }
label[for=photoUploader] {
    border: 1px solid #E9E9E9;
    font-family: 'eausans_book';
    width: 100%; 
    padding-left: 12%;
    background-color: #FAFAFA;
    border-radius: 5px;
    font-size: 12px;
    color: #656268;
    position: relative;
    text-align: left;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    transition:background-color 0.2s ease;
}

label[for=photoUploader]:hover {
    background-color: #F1F1F1;    
}


/* Add connection screen related  */

.modalView#mainImportView .addConnectionPopupContent {
    padding: 0px 30px;
}

/* Import contacts modal view */

.modalView#listSelect .modalContentContainer {
    height:300px;
}

.modalView#listSelect .modalContentContainer #importContacts {
    overflow-x: scroll;
}

.modalView#listSelect .modalContentContainer #importContacts #importSelectionTable {
    table-layout: fixed;
    width:100%;
    text-align: left;
}


/* Bubbles related */

.modalView#plans .photo,.modalView#plans .icon {
    transition: box-shadow 0.2s ease;
}

.modalView#plans .photo:hover, .modalView#plans .icon:hover {
    box-shadow: 0px 0px 10px #636363;
}


.modalTokenBox {
    margin-top: 5px;
    width: 100%;
}

.modalView#plans .modalTokenBox {
    margin-top: 5px;
    width: 90%;
}



.modalTokenBox ul.TokensContainer {
    height: 38px !important;
    border: none !important;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.modalTokenBox ul.TokensContainer:hover {
    background-color: #ECECEC;
}

.modalTokenBox ul.TokensContainer li.Token {
    background-color: #FFF !important;
    border: 1px solid #ECECEC !important;
    border-radius: 30px;
    min-width: 80px;
    height: 28px !important;
    color: #8E8E8E;
    line-height: 28px !important;

}

.modalTokenBox ul.TokensContainer li.TokenSearch input {
    line-height: 28px;
    height: 28px;
    font-size: 15px;
}

.modalTokenBox ul.TokensContainer li.Token a.Close {
    font-size:15px !important;
    line-height: 28px !important;
}

.modalTokenBox ul.TokensContainer li.Token span {
    font-size:15px !important;
    margin: 0px 10px;
    margin-right: 2px;
}


.connectionBubble:hover .initialsDisplayedInBubble {
    opacity:0;
}

.overlayWithName {
    opacity:0;
}
.connectionBubble:hover .overlayWithName {
    opacity:1;
}

.remodal.standardModal {
    border-radius: 8px;
    padding:0px;
    height: 400px;
    max-height: 100%;
    width: 95%;
    margin: auto;
    max-width:625px;
    overflow:hidden;
}

.remodal.standardModal .modalView {
    height: 100%;
    position: relative;
}

.remodal.standardModal .modalView .modalContentContainer {
    position: absolute;
    left: 0px;
    top: 8%;
    width: 100%;
    height:100%;
    overflow-y:scroll;
}

.modalButtonContainer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;   
}

.remodal.standardModal .modalView .modalButtonContainer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
}

.sphereRedBackground {
    background-color:#FE0000;
    transition:background-color 0.2s ease;
}

.sphereRedBackground.disabled {
    background-color: #C56666;
    color:#E2E2E2;
    cursor:auto;
    transition:background-color 0.2s ease;
}

.sphereRedBackground.hoverable:not(.disabled):hover {
    background-color:#CC1919;
}


.sphereBlueBackground {
    background-color: #0099E5;
    transition:background-color 0.2s ease;
}

.sphereBlueBackground.hoverable:not(.disabled):hover {
    background-color: #0584C3;
}

.sphereBlueBackground.disabled {
    background-color: #5896B5;
    color:#E2E2E2;
    cursor:auto;
    transition:background-color 0.2s ease;
}



.sphereGreenBackground {
    background-color: #34BF49;
    transition:background-color 0.2s ease;
}
.sphereGreenBackground.disabled {
    background-color: #659C6D;
    color:#E2E2E2;
    cursor:auto;
    transition:background-color 0.2s ease;
}

.sphereGreenBackground.hoverable:not(.disabled):hover {
    background-color: #37AF49;
}



/*Edit connection screen */
.modalView#editConnection .modalContentContainer {
    padding: 0px 30px;
}

.modalView#editConnection form span{
    display: block;
    width: 100%;
    text-align: center;
}

.modalView#editConnection form div.btn-group{
    margin-top:10px;
    width: 100%;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    background-color: #FAFAFA;
}


.modalView#editConnection form div.btn-group .btn{
    background-color: #FAFAFA;
}

.modalView#editConnection form div.btn-group .btn:hover{
    background-color: #F1F1F1;
}


.modalView#editConnection form div.btn-group .btn.active {
    background-color: #34BF49;
    color: #FFFFFF;
}

.modalView#editConnection form div.btn-group .btn.active:hover{
    background-color: #2CAF40;
}

.modalView#editConnection form textarea {
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    background-color: #FAFAFA;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
}

.modalView#editConnection form .details {
    margin-top: 10px;
    margin-bottom: -10px;
    height: 30px;
    text-align: center;
}

.modalView#editConnection form .details input {
    padding: 0px 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #E9E9E9;
    line-height: 30px;
    height:30px;  
    width: 60px;  
}


/* Check in screen */
.modalView#detailedCheckIn ul li {
    height: 40px;
    line-height: 40px;
    margin: 5px 5px;
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
}

.modalView#detailedCheckIn ul li:hover {
    background-color: gray;
}

/* Challenges, Progress, Achievements UI*/

#challenges, #progress, #achievements {
    width: 100%;
} 


#challenges > .title, #progress > .title, #achievements > .title {
    margin: 40px 0px;
    width: 100%;
    text-align: center;
} 

#challenges > .title h1, #progress > .title h1, #achievements > .title h1 {
    font-size: 25px;
} 

/*Progress-specific*/
#progress #levelDisplay .content {
    margin: auto;
    width: 400px;
    height: 140px;
}

#progress #levelDisplay .content .graphic {
    width: 120px;
    height: 100%;
    float:left;
}

#progress #levelDisplay .content .details {
    padding: 10px;
    width: 280px;
    height:100%;
    float:left;
}

#progress #levelDisplay .content h2 {
    font-size:20px;
}




/* Cards in the main dashboard */

/*general*/
.cardColumn {
    padding: 10px;
}

.card {
    height: 360px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.card .title {
    padding: 5px 0px;
    text-align: center;

}

.card .title h2 {
    font-size: 20px;
}


/*Challenge-specific */

.card.challengeCard .buttons {
    position: absolute;
    width: 100%;
    left:0px;
    bottom:0px;
    height:50px;
    text-align: center;

}

.card.challengeCard .graphic {
    height: 150px;
    width: 100%;
    position: relative;
    margin: 15px 0px;
}

.card.challengeCard .graphicWrapper {
    position: relative;
    display:block;
    margin: auto;
    height: 150px;
    width:150px;
    border-radius: 50%;
    overflow: hidden;
}

.card.challengeCard img {
    position: absolute;
    left: 8px;
    top: 8px;
    height: 134px;
    width: 134px;
}


.card.challengeCard .subtitle {
    padding: 0px 20px;
    text-align: center;
    line-height: 25px;
}

/*Achievement-specific*/

.card.badgeCard {
    background-color: rgba(0,0,0,0);
    border: 3px solid white;
}

.card.badgeCard .graphic {
    height: 150px;
    margin: 30px 0px;
    width: 100%;
    position: relative;
}

.card.badgeCard .graphic img {
    display:block;
    margin: auto;
    height: 100%;
}


.card.badgeCard .subtitle {
    padding: 0px 20px;
    text-align: center;
    line-height: 25px;
}


/* Search bar */
#searchBar {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 220px;
    height: 30px;
}

#searchBar .result ul {
    box-shadow: -1px -3px 6px 0px rgba(0,0,0,0.16);
    position: absolute;
    bottom: 50px;
    right: 0px;
    background-color: #FAFAFA;
    border-radius: 5px;
    overflow: hidden;
    list-style: none;
    width: 220px;
    z-index: 3;
}

#searchBar .speechBubbleThingy { 
    box-shadow:-1px -8px 19px 0px rgba(0,0,0,0.16);
    height: 30px;
    width: 30px;
    background-color: #FAFAFA;
    position: absolute;
    bottom: 45px;
    right: 15px;
    transform:rotate(55deg) skewY(-20deg);
    z-index: 2;

}

#searchBar .result .item {
    padding: 15px;
    cursor: pointer;
    transition:background 0.2s ease; 
}

#searchBar .result .item:hover {
    background: linear-gradient(#0b73a0,#1695cc);
    color: #FFF;
    cursor: pointer;
}

#searchBar .result .name {
    font-weight:bold;
    font-size: 15px;
}

#searchBar .result .tags {
    font-style: italic
}

/* For Admin Dashboard*/

#wrapper.container #main {
    overflow-x: scroll;
}


/*FOR RESPONSIVE DESIGN*/
@media (max-width: 600px) { 
    .hideOnMobile {
        display: none;
    }

    .remodal.standardModal {
        position: absolute;
        bottom: 30px;
        left: 0px;
        right: 0px;
    }

    .showOnMobile {
        display: initial !important;
    }

    .profileButtonsContainer.hideOnMobile {
        width: 130px;
        right: 50px;
        top: 60px;
        background-color: rgb(246,246,246);
        border-radius: 5px;
        border: 1px solid #E9E9E9;
        padding: 10px;
    }

    .profileButtonsContainer.hideOnMobile .divider {
        margin: 10px 0px;
    }

    .profileButtonsContainer.hideOnMobile .profileButton {
        font-size:20px;
        text-align: right;
        width: 100%;
        color: #707070;
        display: block;
    }

    .profileButtonsContainer.hideOnMobile .profileButton p {
        font-size:15px;
        text-align: right;
        margin-right:15px;
        transition:color 0.2s ease;
    }

    .profileButtonsContainer.hideOnMobile .profileButton i {
        color: #707070;
        transition:color 0.2s ease;
    }

    .profileButtonsContainer.hideOnMobile .profileButton:hover p, .profileButtonsContainer.hideOnMobile .profileButton:hover i {
        color: #B5ADAC;
    }

    .profileButtonsContainer.showOnMobile {
        width: 120px;
        right: 20px;
    }

    .profileButtonsContainer.showOnMobile .profileButton {
        width: 55%;
    }

    div.topTabs-header.clearfix {
        position: fixed;
        bottom:0px;
        left:0px;
        z-index:10;
        height: 70px;
    }

    #navigation {
        width: 100%;
        z-index:11;
    }

    #searchBar {
        position: fixed;
        right: 20px;
        bottom: 80px;
        width: 220px;
        height: 30px;
    }

    .topTabsContent {
        padding:0px !important;
        height: 100vh;
    }

}



/* Customization of plugins */

/* Toastr notification */

.toast-success {
  background-color: #34BF49 !important;
}





