/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require_tree ../../../vendor/assets/stylesheets/.
 */


body {
    background: #F6F6F6 !important;
}

#loading > div > div {
  background: #0d9ddb !important;
}

#profile {
        z-index: 2;
        position: fixed !important;
        height: 75px !important;
        background-color: #0d9ddb !important;
        float: none !important;
        top: 0px !important;
}

#logo {
    position: absolute;
    color: white;
    top: 20px;
    left: 20px;
}

#addConnection, #accountSettings {
    position: absolute;
    color: white;
}

#addConnection {
    top: 20px;
    right: 120px;
}

#accountSettings {
    top: 20px;
    right: 20px;
}

#navigation-tabs-container {
    width: 100%;
    position:absolute;    
    top:75px;
}

.topTabsContent {
    padding:0px !important;
}

.topTabs-header.clearfix {
    box-shadow: none !important;
    height:100px;
    width: 100%;
}

#navigation {
    float: none !important;
    width: 68%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#navigation li {
    border: none !important;
    width: 25%;
    height: 100%;
}



/*FOR RESPONSIVE DESIGN*/
@media (max-width: 500px) { 
    
}





