<script>
    $(function(){
        var action = '<%= @action %>';
        if (action == "close") {
            parent.close();
        }
    })
</script>
<% if @action == "open" %>
<div class="alert alert-danger" style="margin: 50px 50px;">
    <%= raw @errors %>
</div>
<% end %>